@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
    color: #1C2C5B;
    line-height: 1.6;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
header {
    padding: 60px 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 80px;
}

/* HERO */
.hero {
    padding: 50px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-family: 'Nunito', sans-serif;
    color: #0000A3;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 900;
}

.hero-text h1 span {
    color: #F26B5E;
}

.hero-text p {
    margin-top: 20px;
    color: #6B7280;
    font-size: 20px;
}

/* BENEFÍCIOS */
.hero-text ul {
    list-style: none;
    margin: 20px 0;
}

.hero-text ul li {
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;            
    align-items: center;       
    gap: 8px; 

}

.icon {
    width: 46px;
    margin-right: 8px;
}



/* FORM */
form {
    margin-top: 20px;
}

form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    font-size: 14px;
}

form input:focus {
    outline: none;
    border-color: #F26B5E;
}

form button {
    width: 100%;
    padding: 16px;
    background-color: #F26B5E;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background-color: #e35a4f;
    transform: translateY(-2px);
}

small {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #6d7788;
}

.success-box {
    margin-top: 30px;
    padding: 30px;
    background-color: #EDEDF7;
    border-radius: 16px;
    text-align: center;
    display: none; /* começa escondido */
}

.success-box .check {
    width: 60px;
    height: 60px;
    background-color: #0000A3;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.success-box h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.success-box p {
    font-size: 16px;
}



/* HERO IMAGE */
.hero-image {
    margin-top: -30px;
    flex: 1;
}

.hero-image img {
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

/* SOCIAL PROOF */
.social-proof {
    background-color: #EAF1FF;
    padding: 40px;
    text-align: center;
}

.social-proof p {
    font-size: 16px;
    color: #545a65;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social-proof h2 {
    font-size: 28px;
    font-weight: 500;
}

.social-proof strong {
    color: #F26B5E;
}



/* FOOTER */
footer {
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    color: #6B7280;
}

/* RESPONSIVO */
@media (max-width: 900px) {

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-image img {
        max-width: 350px;
        margin-top: 40px;
    }
}
